
        
        
    
        .split { height:100% ;
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
        text-align: center;
        color: #fed049;
        } 
        
        .left {left: 0; background-color: #26001b;} 
        
        .right {right: 0 ; background-color: #fed049;} 
        

        

        .centered {
         position: absolute;
         top: 25%;
         right: 25%;
         transform: translate(-50%, -50%);
         text-align: center;
         
        }

        .centered img {
        width: 150px;
        border-radius: 50%;
        }

        .text {
            position: absolute;
            top: 65%;
            right: 50%;
            transform: translate(50%, -50%);
            text-align: center;
            color: #26001b;
            z-index: 1;
            font-size: small;
        }

        